{% extends 'base.html' %}
{% block content %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox float-e-margins" id="all">

                <div class="ibox-title">
                    <h5> 编辑用户权限</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content" style="background-color: #ffffff">
                    <form class="form-horizontal" role="form" method="post" action="" >
                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户名<span style="color: red">*</span></label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" value="{{ get_username_result[0][0] }}" id="users_name" name="users_name" placeholder="username" required="" oninvalid="setCustomValidity('用户名必须填写!');" oninput="setCustomValidity('');" disabled>
                            </div>
                        </div>
                        <div class="form-group" >
                             <label class="col-sm-3 control-label">数据库<span style="color: red">*</span></label>
                             <div class="col-sm-9">
                                 <table class="table table-striped table-bordered table-hover dataTable no-footer" id="select_db_table" >
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                <input  type="checkbox" class="ipt_check_all">
                                            </th>
                                            <th class="text-center">数据库</th>
                                            <th class="text-center">ip地址</th>
                                            <th class="text-center">DDL权限</th>
                                            <th class="text-center">DML权限</th>
                                        </tr>
                                    </thead>
                                    <tbody id="select_db_dynamic">
                                    {% for mysqldb in get_user_priv_result %}
                                        <tr class="gradeX">
                                            <td class="text-center"><input type="checkbox" name="checked" value="{{ mysqldb[0] }}" class="ipt_check"></td>
                                            <td class="text-center">{{ mysqldb[1] }}</td>
                                            <td class="text-center">{{ mysqldb[2] }}</td>
                                            {% if mysqldb[3] == 0 %}
                                                <td class="text-center"><input type="checkbox" name="checked" checked value="" class="ipt_check_ddl"></td>
                                                <td class="text-center"><input type="checkbox" name="checked" checked value="" class="ipt_check_dml"></td>
                                            {% elif mysqldb[3] == 1 %}
                                                <td class="text-center"><input type="checkbox" name="checked"  value="" class="ipt_check_ddl"></td>
                                                <td class="text-center"><input type="checkbox" name="checked" checked value="" class="ipt_check_dml"></td>
                                            {% elif mysqldb[3] == 2 %}
                                                <td class="text-center"><input type="checkbox" name="checked" checked value="" class="ipt_check_ddl"></td>
                                                <td class="text-center"><input type="checkbox" name="checked"  value="" class="ipt_check_dml"></td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                 </table>
                                 <div class="row m-t" style="margin-top: 0;">
                                    <div class="col-md-12">
                                        <div class="form-inline">
                                            <div class="input-group">
                                                <select class="form-control m-b" style="width: auto;font-size:12px;padding: 2px;" id="slct_bulk_update">
                                                    <option value="grant">批量授权</option>
                                                    <option value="delete">批量删除</option>
                                                </select>
                                            </div>
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <a id='btn_bulk_update' style="height: 32px" type="submit" class="btn btn-sm btn-primary">
                                                        提交
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <a id='new_select_db' style="height: 32px" type="submit" class="btn btn-sm btn-info">
                                                        添加数据库
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                                 <div class="alert alert-info alert-dismissible help-message" style="margin-left: 0;display: none;">
                                     <button type="button" class="close" data-dismiss="alert"
                                            aria-hidden="true">
                                        &times;
                                     </button>
                                     <div id="alert_info"></div>
                                 </div>


                             </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-3">
                                <a id="new_priv_submit" class="btn btn-primary" type="submit">确认编辑</a>
                                <a class="btn btn-info" href="{{ url_for('users.user_priv_list') }}">返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--操作状态返回警告框 modal-->
<div class="row">
    <div class="modal " id="addDatabaseModal" tabindex="-1" role="dialog" aria-labelledby="addDatabaseLabel" aria-hidden="true" data-backdrop="static" style="top:50px">
        <div class="modal-dialog" style="width: 400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="addDatabaseLabel">
                        选择数据库
                    </h4>
                </div>
                <div class="modal-body" style="text-align: center;max-height:350px;overflow-y:auto;">
                    <div id="bulkResultInfo"></div>
                    <table class="table table-striped table-bordered table-hover dataTable no-footer" id="all_db_table" >
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <input id="" type="checkbox" class="ipt_check_all">
                                </th>
                                <th class="text-center">数据库</th>
                                <th class="text-center">ip地址</th>
                            </tr>
                        </thead>
                        <tbody id="all_db_dynamic">
                        </tbody>
                    </table>
                    <div style='text-align:center;' id="all_db_notfound"></div>
                </div>
                <div class="modal-footer" style="text-align: center;">
                    <a type="button" id="addDatabaseSubmit" class="btn btn-info" data-dismiss="modal">确定</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/user/user_priv_edit.js') }}"></script>
{% endblock %}