{% extends '_base_list.html' %}
{% block table_container %}
<div class="" id="content_start">
    {% block content_left_head %} {% endblock %}
    {% block table_search %}
    <form id="search_form" method="get" action="" class="form-inline">
        {% block search_form %}
        <div class="col-sm-1" style="padding-left:0;padding-bottom: 4px">
            <a href="" id="new_user_create" class="btn btn-sm btn-primary"> 新建用户 </a>
        </div>

        <div class="col-sm-7 pull-right" style="padding-left:0;padding-bottom: 4px;padding-right:0;">
            <div class="pull-right">
                <div class="input-group">
                    <select class="form-control input-sm m-b" style="width: auto;padding: 2px;" id="table_length">
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="100">ALL</option>
                    </select>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control input-sm m-b" id="userlist_keyword" name="userlist_keyword" placeholder="用户名、姓名、部门名称" value="">
                </div>
                <div class="input-group">
                    <div class="input-group-btn">
                        <a id='search_btn' type="submit" class="btn btn-sm btn-primary">
                            搜索
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </form>
    {% endblock %}
</div>
<!--<div class="uc pull-left m-r-5"><a href="#" class="btn btn-sm btn-primary"> 创建用户 </a></div>-->

<table class="table table-striped table-bordered table-hover dataTable no-footer" id="user_list_table" >
    <thead>
        <tr>
            <th class="text-center">
                <input id="" type="checkbox" class="ipt_check_all">
            </th>
            <th class="text-center">用户ID</th>
            <th class="text-center">用户名</th>
            <th class="text-center">姓名</th>
            <th class="text-center">所属部门</th>
            <th class="text-center">角色</th>
            <th class="text-center">密码验证答案</th>
            <th class="text-center">状态</th>
            <th class="text-center">操作</th>
        </tr>
    </thead>
    <tbody id="userlist_dynamic">
    </tbody>
</table>
<div style='text-align:center;' id="userlist_notfound"></div>

<div class="row m-t">
    <div class="col-md-4">
        <div class="form-inline">
            <div class="input-group">
                <select class="form-control m-b" style="width: auto;font-size:12px;padding: 2px;" id="slct_bulk_update">
                    <option value="active">批量启用</option>
                    <option value="deactive">批量禁用</option>
                    <option value="delete">批量删除</option>
                </select>
            </div>
            <div class="input-group">
                <div class="input-group-btn">
                    <a id='btn_bulk_update' style="height: 32px;" type="submit" class="btn btn-sm btn-primary">
                        提交
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div id="example_userlist" style="text-align: center" class="pull-right">
            <div id="userlist_notes" style="text-align: center;padding-top: 8px;padding-right: 6px" class="pull-left"></div>
            <ul id="userlist_pageLimit" style="margin: 0 0;"></ul>
        </div>
    </div>
</div>



<!--操作状态返回警告框 modal-->
<div class="row">
    <div class="modal " id="bulkResultModal" tabindex="-1" role="dialog" aria-labelledby="bulkResultLabel" aria-hidden="true" data-backdrop="static" style="top:140px">
        <div class="modal-dialog" style="padding: 20px 180px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="bulkResultLabel">
                        操作结果
                    </h4>
                </div>
                <div class="modal-header" style="text-align: center;">
                    <div id="bulkResultInfo"></div>
                </div>
                <div class="modal-footer" style="text-align: center;padding: 0">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block content_bottom_left %}
<script src="{{ url_for('static', filename='js/bootstrap-paginator.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/user/user_list.js') }}"></script>
{% endblock %}



