{% extends 'base.html' %}
{% block content %}
<script src="{{ url_for('static', filename='js/assets/jquery.multiselect2side.js') }}"></script>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-9">
            <div class="ibox float-e-margins" id="all">

                <div class="ibox-title">
                    <h5> 新增MySQL数据库</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content" style="background-color: #ffffff">
                    <form class="form-horizontal" role="form" method="post" action="" >
                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">主机IP地址<span style="color: red">*</span></label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control"  value="" id="assets_host_ip" name="assets_host_ip" placeholder="IP地址" required="" pattern="^\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}$" oninvalid="setCustomValidity('不符合IP地址的规则');"  oninput="setCustomValidity('');" onkeyup="getListsData(this.value)">
                            </div>
                        </div>
                        <div class="form-group" >
                             <label class="col-sm-3 control-label">数据库选择<span style="color: red">*</span></label>
                             <div class="col-sm-9">
                                 <div id="select">
                                     <select multiple="multiple" id="mysqldb_select" name="mysqldb_select" size="20" style="width: 200%"></select>
                                     <input type="hidden" class="form-control"  value="" id="multi_select_base" name="multi_select_base">
                                </div>
                             </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注(选填)</label>
                            <div class="col-sm-8">
                                <textarea id="assets_db_note" name="assets_db_note" class="form-control" placeholder="限150字以内" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group" >
                             <label class="col-sm-3 control-label">已启用</label>
                             <div class="col-sm-5">
                                    <input type="checkbox" id="assets_db_status" name="assets_db_status" value="0" class="checkbox-radio" checked="checked" style="margin: 10px 0 0;">
                             </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-4">
                                <button id="assets_mysqldb_submit" class="btn btn-primary" type="submit">新增</button>
                                <a class="btn btn-info" href="{{ url_for('assets.mysqldb_list') }}">返回</a>
                                <a style="cursor:default;color: red">* 为必填项</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function getListsData(ipaddress) {

        var data =  {
            "ipaddress":ipaddress
        };

        $.ajax({
            url: '/assets/mysqldb_create_getdb_ajax',
            type:'POST',
            data:JSON.stringify(data),
            contentType: 'application/json; charset=UTF-8',
            dataType: 'JSON',
            success: function (callback) {
                if (callback) {
                    $("#mysqldb_selectms2side__sx").empty();
                    $("[name='mysqldb_selectms2side__dx[]']").empty();
                    $.each(callback, function (index, item) {
                        $("#mysqldb_selectms2side__sx").append("<option value='" + item + "'>" + item + "</option>");
                    });
                }
            }
        });
    }

    $("#mysqldb_select").multiselect2side({
        selectedPosition: 'right',
        moveOptions:false,
        labelsx: '未选择',
        labeldx: '已选择'
    });

</script>
<!--<script src="{{ url_for('static', filename='js/assets/asset_mysqldb_create.js') }}"></script>-->
{% endblock %}
